.Btn-tweets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 14px 14px;
    margin-right: auto;
    margin-bottom: 20px;

    background-color: darkgray;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    border: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
}

.Btn-tweets:hover {
    background-color: #373737;
    color: darkgray;
    cursor: pointer;
}

.Btn-tweets-link {
    display: inline-block;
    text-decoration: none;
}

