.Container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 5px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}

.Header__nav {
    height: 50px;
}

.Main-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.Nav-item {
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;    
}

.Nav-item :hover {
    color: #5CD3A8;
}

.Nav-item__link {
    text-decoration: none;
    color: black;
}